<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="filePath" value="C:\data\TournamentTracker"/>
    <add key="greaterWins" value="1"/>
    <add key="senderEmail" value="saurabh@bhushan.com"/>
    <add key="senderDisplayName" value="Saurabh Bhushan"/>
  </appSettings>
  <connectionStrings>
    <add name="Tournaments" connectionString="Server=LAPTOP-IU653BLF; Database=Tournaments;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="127.0.0.1" userName="Saurabh" password="Saurabh" port="25" enableSsl="false" />
      </smtp>
    </mailSettings>
  </system.net>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>